:root {
    --daphne-descends-purp: #684380;
    --crying-trees-light-purp: #9974B0;
    --scarab-gold: #DEC173;
    --warm-scarf-Marooon: #B34D84;
    --pale-purple: #C973A1;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
}

html,
body {
    width: 100vw;
    color: white;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header {
    align-items: center;
    background-color: var(--daphne-descends-purp);
    color: var(--scarab-gold);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

header > h1, h2 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: var(--scarab-gold);
}

main {
    justify-content: space-around;
    background-color: #B34D84;
    height: 100vh;
}

.left-side,
.right-side {
    width: 12.5%;
    align-items: center;
    background-color: var(--crying-trees-light-purp);
}

.center {
 width: 75%;
 align-items: center;
 justify-content: space-around;
}

.game-one,
.game-two {
    border: 3px solid var(--scarab-gold);
    border-radius: 20px;
    text-align: center;
    height: 20%;
    width: 60%;
    background-color: var(--pale-purple);
}

.game-one:hover,
.game-two:hover {
    border-color: black;
    background-color: var(--scarab-gold);
    color: black;
}

a:hover, a:visited, a:link, a:active {
    color: inherit;
    text-decoration: none;
}

.game-two{
    margin-bottom: 10vh;
}

.left-side > div,
.right-side > div,　{
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 50%;
    margin-top: 7%;
    font-size: 2em;
}

.change-game-btn {
    margin-top: 10%;
    border-radius: 10px;
    background-color: var(--daphne-descends-purp);
    color: var(--scarab-gold);
    border: transparent;
    padding: .5rem;
}
.change-game-btn:hover{
    background-color: var(--scarab-gold);
    color: black;
}

.rock-paper-scissors-fighters >img {
    width: 30%;
}

.rock-paper-scissors-fighters,
.stand-fighters {
    justify-content: space-between;
}

.stand-fighters > img {
    max-height: fit-content;
    width: 18%;
}

.hidden{
    display: none;
}