/* Colors add here 
 Daphne-descends purp:  #684380
crying-trees-light-purp: #9974B0
scarab-gold: #DEC173
warm-scarf-Marooon: #B34D84
pale-purple: # C973A1 */

:root {
    --daphne-descends-purp: #684380;
    --crying-trees-light-purp: #9974B0;
    --scarab-gold: #DEC173;
    --warm-scarf-Marooon: #B34D84;
    --pale-purple: #C973A1;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--scarab-gold);
}

html,
body {width: 100vw;}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header {
    align-items: center;
    background-color: #684380;
    color: #DEC173;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

main {
    justify-content: space-around;
    background-color: #B34D84;
    height: 100vh;
}

.left-side{
    width: 20%;
    align-items: center;
}

.right-side {
    width: 20%;
    align-items: center;
}

.center {
 width: 60%;
 align-items: center;
 justify-content: space-around;
}

.game-one,
.game-two {
    height: 30%;
    width: 20%;
}

.left-side > div,
.right-side > div,ã€€{
    background-color: var(--crying-trees-light-purp);
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 50%;
    margin-top: 10%;
}

.jojo-text{
    height: 250px;
    width: 250px;
}